* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  --font-principal:'Heebo', sans-serif;
  --azul-principal:#0d235c;
  --azul-hover:#020610;
  --branco:#ffffff;
  margin: 0;
  font-family: var(--font-principal)!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

footer {
  background-color: var(--azul-hover);
  display: block;
  width: 100%;
  height: 300px;
}